@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 30px;
  margin-top: 30px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.currencyInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.currencyDescription {
  @include card;
  padding: 10px;
  min-width: 320px;
  display: flex;
  width: 320px;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.name {
  font-size: 32px;
  font-weight: bold;
}

.chartWrapper {
  height: 700px;
  padding: 10px;
  width: 50%;
  min-height: 320px;
  min-width: 320px;
  @include card;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .chartWrapper {
    height: 50vw;
  }
}
