@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/functions';

.main {
  @include flexContainer(row, center, left, 30px);
  width: 90%;
  height: 100%;
  margin: 30px auto 0 auto;
  flex-wrap: wrap;
}

.currencyInfo {
  @include flexContainer(column, left, left, 20px);
}

.currencyDescription {
  @include card;
  @include flexContainer(column, left, left, 10px, 1);
  padding: 10px;
  width: 320px;
}

.name {
  font-size: fontSize(l);
  font-weight: fontWeight(bold);
}

.chartWrapper {
  @include card;
  @include flexContainer(row, center, center);

  height: 700px;
  padding: 10px;
  width: 50%;
  min-height: 320px;
  min-width: 320px;
}

@media screen and (max-width: 1300px) {
  .chartWrapper {
    height: 50vw;
  }
}
