@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.content {
  @include flexContainer(column, center, left, 10px);
  min-height: 200px;
  width: 300px;
}

.inputContainer {
  @include flexContainer(column, center, left, 10px);
}

.input {
  height: 36px;
  text-indent: 15px;
  border-radius: 10px;
  border: 1px solid $secondaryDecorations;

  &:focus {
    border: none;
    outline: 2px solid $primaryAccent;
  }
}
