@import './colors';

@mixin main-button() {
  background-color: $primaryAccent;
  border: none;
  color: $secondaryText;
  cursor: pointer;
  &:hover {
    background: darken($primaryAccent, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    transform: scale(1.05);
    background: darken($primaryAccent, 15%);
  }
}

@mixin card() {
  border-radius: 20px;
  background-color: $secondaryPureDecorations;
  border: 1px solid $primaryDecorations;
  box-shadow: 3px 3px 3px $primaryDecorations;
}

@mixin flexContainer($direction, $justify, $align, $gap: 0px, $flexGrow: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-grow: $flexGrow;
}
