@import '../../styles/colors';
@import '../../styles/mixins';

.main {
  @include flexContainer(column, left, center, 10px);
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
}

.title {
  color: $primaryAccent;
}
