@import '../../styles/variables.scss';

.main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
}

.title {
  color: $primaryAccent;
}
