.content {
  height: 500px;
  width: 300px;
  color: black;
  overflow-y: scroll;
}

.table {
  width: 100%;
}

.tableHead {
  font-weight: bold;
}

.amountColumn {
  text-align: center;
}

.removeButtonColumn {
  width: 45px;
}

.nameColumn {
  width: 140px;
}
