@import '../../../../styles/colors';
@import '../../../../styles/functions';

.content {
  height: 500px;
  width: 300px;
  color: $primaryText;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.table {
  width: 100%;
  &Head {
    font-weight: fontWeight(bold);
  }

  &ColumnAmount {
    text-align: center;
  }

  &ColumnName {
    width: 140px;
  }

  &ColumnRemove {
    width: 45px;
  }
}
