@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/functions';

.header {
  @include flexContainer(row, space-around, center);
  width: 100%;
  height: 54px;
  background-color: $primaryAccent;
  color: $secondaryText;
}

.topCurrencies {
  @include flexContainer(column, space-between, left);
  font-size: fontSize(xs);
  width: 140px;
}

.iconPortfolio,
.iconHome {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.portfolioValues {
  @include flexContainer(column, left, left);
  width: 140px;
  font-size: fontSize(xs);
}

.navigationMenu {
  @include flexContainer(row, left, left, 20px);
}
