@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/functions';

.button {
  @include main-button;

  height: 44px;
  border-radius: 12px;
  font-size: fontSize(m);
  overflow: hidden;
  white-space: nowrap;
  max-width: 95%;

  &:disabled {
    background-color: $secondaryDecorations;
    cursor: auto;
    &:active {
      transform: scale(1);
    }
  }
}
